node_modules/
dist/
dist-ssr/
.env
.DS_Store
.agents/
*.md
!README.md
*.json
!package.json
!package-lock.json

# Bỏ qua các file ảnh (Đã comment lại để deploy web)
# *.jpg
# *.jpeg
# *.png
# *.gif
# *.webp
# *.svg
# *.ico
# *.bmp
